@model GestioanireDesStages.Models.Personne

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3 class="bg-danger">Êtes-vous sûr de vouloir supprimer?</h3>
<div>
    <h4>Superviseur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courriel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Courriel)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonneId" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-info">Retour à la liste</a>
    </form>
</div>
