@model GestioanireDesStages.Models.Personne

@{
    ViewData["Title"] = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courriel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Courriel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Administrateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Administrateur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Superviseur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Superviseur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stagiaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stagiaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonneId">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
