@model IEnumerable<GestioanireDesStages.Models.Personne>

@{
    ViewData["Title"] = "Index";
}

<h2>Stagiaires</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courriel)
                </th>
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>


            <td>
                @{
                    if (User.IsInRole("Administrateur"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PersonneId">Modifier</a>
                        <a asp-action="Details" asp-route-id="@item.PersonneId">Détails</a>
                        <a asp-action="Delete" asp-route-id="@item.PersonneId">Supprimer</a>
                    }
                    else if (User.IsInRole("Superviseur"))
                    {
                        <a class="btn btn-sm btn-default"asp-action="Details" asp-route-id="@item.PersonneId">Détails</a>
                        <a class="btn btn-sm btn-default"
                           asp-action="Index" asp-controller="Stages"
                           asp-route-id="@item.PersonneId" role="button">Mes Stages</a>
                    }
                }


            </td>
        </tr>
}
    </tbody>
</table>
